/*styles Input entry */
.section__inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
  }
  
  .section__inputs>input{
    border: 0.8px solid white;
    border-radius: 0.4rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 200;
  }
  
  .section__inputs>input:focus{
    outline: none;
    border: 0.8px solid rgb(0, 174, 255);
  }
  
  .section__inputs>button{
    padding: 10px 50px;
    border:none;
    border-radius: 0.4rem;
    font-size:20px;
    font-weight: 500;
    background-color: white;
  }
  
  .section__inputs>button:hover{
    cursor: pointer;
    background-color: lightgray;
  }