 /*Principal Card entry */
.section__temperature{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
  }

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icon>h3{
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
  }
  
  .temperature>h1{
    font-size: 60px;
  }