/*global variables*/
:root {
  --section-overlay:rgba(0,0,0,0.7);
  --bakground-overlay:rgba(0,0,0,0.7);

}
/*Global styles*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;
}


/*Apply app*/
.overlay{
   width: 100%;
   height: 100vh;
   background-color: var(--background-overlay);
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
  max-width: 800px;
  margin: center;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.section{
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

